.language-dropdown-container {
  position: relative;
  display: inline-block;
  
}

.language-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 160px;
  background-color: hsla(0, 54%, 7%, 0.8);
  backdrop-filter: blur(30px);
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 8px;
  z-index: 10;
  overflow: hidden;
  overflow-y: scroll;
}

.language-dropdown-item {
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  background-color: #11111100;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--primary-text-color);
  border-radius: 10px;
}

.language-dropdown-item:hover {
  background-color: hsla(0, 54%, 5%, 1);
}

.language-dropdown-item:focus {
  outline: none;
}
