.plant-container{
    position: relative;
    display: inline-block;
}

.plant {
    display: block;
    position: relative; 
    z-index: 2;
    pointer-events: none;
}

.tomato{
    position: absolute;
    z-index: 0;
    transition: scale 0.2s ease-out;
}
.not_ready{
    cursor: wait;
}
.ready{
    cursor: pointer;;
}

.tomato:active{
    scale: 0.9;
}