.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timer-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
}

.text h1 {
  text-align: center;
  font-size: 92px;
}

.text p {
  color: #c8c8c8;
  font-size: 48px;
}
