.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
  border-radius: 50%;
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.work-bg{
  background-color: hsl(0, 54%, 7%)
}

.rest-bg{
  background-color: transparent;

}

.timer-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
}

.text h1 {
  text-align: center;
  font-size: 92px;
}

.text p {
  color: #c8c8c8;
  font-size: 48px;
}
